Source: ftest
Section: unknown
Priority: optional
Maintainer: xuyanghe <yhxu94@126.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://jailbreakfox.github.io

Package: ftest
Architecture: any 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: deb package make tutorial
